<main>
  <div class="container-fluid">
      <!-- Sections -->
      <section class="row">
          <!-- Header Section -->
          <div class="col-md-3">
              <img src="./images/milesgriffith.png" alt="Miles Griffith" class="img-fluid rounded" style="height:250px; margin-right:10px;">
              <p class="mb-0">
                  <strong>Miles Griffith</strong><br>
                  <a href="mailto:miles.griffith@bellevuecollege.edu">miles.griffith@bellevuecollege.edu</a>
              </p>
          </div>
          <div class="col-md-9">
              <!-- Bio Section -->
              <div>
                  <h2 class="h5"><strong>Bio</strong></h2>
                  <p>Hello, I'm Miles Griffith, a 21-year-old Software Development student. I'm a junior at Bellevue College, currently enrolled in the Software Development Bachelor's program. I'm interested in software development and have been learning since my sophomore year in high school.</p>
                  <p>Outside of school, I enjoy reading various sci-fi and fantasy novels. My favorite webnovel is <i>The Lord of the Mysteries</i> by <i>Yuan Ye</i>. I also enjoy playing video games and watching movies.</p>
              </div>

              <!-- Education Section -->
              <div>
                  <h2 class="h5"><strong>Education</strong></h2>
                  <p>2022-2024: Associate's degree in Software Development, Bellevue College <br />
                      2024-2026: Bachelor's degree in Software Development, Bellevue College</p>
              </div>

              <!-- Experience Section -->
              <div>
                  <h2 class="h5"><strong>Experience</strong></h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div>
          </div>
      </section>
  </div>
</main>